.single-file-app {
  text-align: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.character-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-item {
  margin: 10px;
  text-align: center;
}

.character-image {
  max-width: 100px;
  border-radius: 50%;
}

.item-favorito {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 50%;
}

.item-favorito div{
  margin-right: 8px;
}

.item-favorito button{
  background-color: orangered;
  border: 0;
  padding: 8px;
  border-radius:4px;
}